.block-feature-list {
    &.aligncenter {
        text-align: center;
    }
    &.alignleft {
        text-align: left;
    }
    &.alignright {
        text-align: right;
    }
}

.feature {
    margin-bottom: $padding-md;
    h4 {
        margin-top: $padding-md;
    }
    .image {
        margin: 2rem 0;
    }
}
