.wp-block-yoast-faq-block {
    
}

.schema-faq-section {
    border: 2px solid $color-light-grey;
    border-radius: $border-radius;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease all;

    &.active {
        border-color: $color-green;
        background-color: rgba($color-green, 0.1);
        .schema-faq-question {
            &:after {
                background-color: transparent;
                color: $color-black;
                transform: rotate(45deg);
            }
        }
    }
}

.schema-faq-question {
    cursor: pointer;
    font-size: $font-size-xl;
    display: block;
    padding: 1em 4rem 1em 5rem;

    &:hover {
        &:after {
            color: $color-blue;
            background-color: $color-off-white;
        }
    }

    &:before {
        width: 48px;
        line-height: 1em;
        display: inline-block;
        content: "Q:";
        font-weight: 700;
        vertical-align: top;
        color: $color-blue;
        position: absolute;
        left: 1em;
    }

    &:after {
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        content: "+";
        margin-right: 5px;
        transition: .2s ease all;
    }

}

.schema-faq-answer {
    display: none;
    padding: 0 2em 0 5rem;
    margin-bottom: 1em;

    img {
        margin-bottom: 2em;
        border-radius: $border-radius;
    }

    &:before {
        width: 48px;
        display: inline-block;
        font-size: $font-size-xl;
        line-height: 1.75em;
        content: "A:";
        font-weight: 700;
        vertical-align: top;
        color: $color-green;
        position: absolute;
        left: 1em;
    }
}

.schema-faq-answer.default {
    display: block;
}

.editor-styles-wrapper {
    .schema-faq-answer {
        display: block!important;
    }
}