/* --------------------------------------------------------------
   Content
   -------------------------------------------------------------- */

#content {
    
}

section {
    padding: $padding-lg 0;
    border-bottom: $border-width solid $color-light-grey;

    &.section-title {
        h1 {
            margin: 0;
        }
    }

    .page-title,
    .post-title,
    .excerpt-title {
        padding-bottom: $padding;
        h1 {
            margin: 0;
        }
        time {
            margin-top: $padding-sm;
            color: $color-dark-grey;
        }
    }

    .page-title {
        
    }
    .page-content {
        
    }

    .post-title {
        
    }
    .post-content {
        
    }

    .excerpt-title {
        
    }
    .excerpt-content {
        
    }

}