/* --------------------------------------------------------------
   Sections - Common
   -------------------------------------------------------------- */

.section {
    position: relative;

    // Sizes

    &.section-xs {
        padding: $padding-xs 0;
    }
    &.section-sm {
        padding: $padding-sm 0;
    }
    &.section-md {
        padding: $padding-md 0;
    }
    &.section-lg {
        padding: $padding-lg 0;
    }
    &.section-xl {
        padding: $padding-xl 0;
    }

    // Borders

    &.section-border {
        border-top: $border;
        border-bottom: $border;
    }

    &.section-border-top {
        border-top: $border;
    }

    &.section-border-bottom {
        border-bottom: $border;
    }

    // Colours

    &.section-alternate {
        background-color: $color-off-white;
    }

    // Elements

    .title {
        margin: $padding-md 0;
        h1, h2 {
            margin: 0;
        }
        time {
            position: relative;
            display: inline-block;
            padding-left: $padding-md;
            margin-top: $padding-sm;
            color: $color-dark-grey;
            font-size: $font-size-sm;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: $padding-md/2;
                border-bottom: $border-width solid $color-grey;
            }
        }
    }

    .content {
        //
    }
    
}