/* --------------------------------------------------------------
   Wordress
   -------------------------------------------------------------- */

.site-wrapper {
    overflow-x: hidden;
    max-width: 100%;
}

.page-content {
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
        max-width: $inner-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.single {
    .page-content {
        margin-top: $padding-lg;
        margin-bottom: $padding-lg;
    }
    .section-hero {
        margin-bottom: 0;
    }
}

.page-content,
.wp-block {
    ul,
    ol {
        margin: 1rem auto;
        li {
            color: $color-dark-grey;
            font-size: $font-size-lg;
            line-height: 1.75em;
            margin-bottom: 1rem;
        }
    }
}

p {
    &.has-background {
        border-radius: $border-radius;
    }
}

.alignfull {
    margin: $gutter * 2 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

.alignleft {
}

.alignright {
}

.aligncenter {
}
