/* --------------------------------------------------------------
   Blocks - Common
   -------------------------------------------------------------- */

.block {
    position: relative;

    // Sizes

    &.block-xs {
        padding: $padding-xs 0;
    }
    &.block-sm {
        padding: $padding-sm 0;
    }
    &.block-md {
        padding: $padding-md 0;
    }
    &.block-lg {
        padding: $padding-lg 0;
    }
    &.block-xl {
        padding: $padding-xl 0;
    }

    // Borders

    &.block-border {
        border-top: $border;
        border-bottom: $border;
    }

    &.block-border-top {
        border-top: $border;
    }

    &.block-border-bottom {
        border-bottom: $border;
    }

    // Colours

    &.block-alternate {
        background-color: $color-off-white;
    }

    // Elements

    .block-title {
        margin: $padding-md 0;
        h1, h2 {
            margin: 0;
        }
        time {
            position: relative;
            display: inline-block;
            padding-left: $padding-md;
            margin-top: $padding-sm;
            color: $color-dark-grey;
            font-size: $font-size-sm;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: $padding-md/2;
                border-bottom: $border-width solid $color-grey;
            }
        }
    }

    .block-content {
        //
    }
    
}