/* --------------------------------------------------------------
   Header
   -------------------------------------------------------------- */

#header {
    position: relative;
    background-color: $color-white;
    border-bottom: $border;
    .logo {
        float: left;
        padding: $padding-sm 0;
        @media (max-width: 767px) {
            padding: $padding-xs 0;
        }
    }
}