div.editor-styles-wrapper {
    color: $color-off-black;
    font-size: $font-size;
    font-family: $font-family-primary;
    line-height: inherit;

    // Blocks - remove margins

    .acf-block-preview > div {
        margin: 0!important;
    }

    // Block Yoast FAQ - always display answers

    .schema-faq-answer {
        display: block;
    }

    // Block Stats - hide additional slider logos

    .block-stats {
        .logos {
            overflow: hidden;
        }
    }
}

.wp-block {
    max-width: $inner-width;
}
 
.wp-block[data-align=wide] {
    max-width: $container-width;
}