/* --------------------------------------------------------------
   Variables
   -------------------------------------------------------------- */

// Colors

$color-blue: #1562FB;
$color-light-blue: lighten($color-blue, 15%);
$color-dark-blue: darken($color-blue, 15%);

$color-green: #33aa33;
$color-light-green: #33aa33;
$color-dark-green: #33aa33;

// Shades

$color-white: #fff;
$color-off-white: #f8f8fc;

$color-light-grey: #eeeef2;
$color-grey: #ccccd1;
$color-dark-grey: #66666b;

$color-off-black: #1e1e23;
$color-black: #000;

// States

$color-error: #DD5959;

// Borders

$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 16px;

$border-width: 1px;
$border-radius: $border-radius-md;
$border-color: $color-light-grey;

$border: $border-width solid $border-color;

// Padding

$gutter: 15px;

$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 4rem;
$padding-xl: 8rem;

$padding: $padding-md;

// Layout

$inner-width: 730px;
$container-width: 1140px;

// Shadows

$box-shadow: 0 1px 5px 0 rgba($color-black, .12);
$box-shadow-hover: 0 5px 12px 0 rgba($color-blue, 0.3);

$box-shadow-lg: 0 1rem 2rem -10px rgba($color-black, 0.2);
$box-shadow-lg-hover: 0 1.5rem 2.5rem -10px rgba($color-black, 0.15);

// Fonts

$font-family-primary: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-xl: 21px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;

$font-size: $font-size-md;