/* --------------------------------------------------------------
   Navbar
   -------------------------------------------------------------- */

.navbar {
    position: relative;
    background-color: $color-white;
    // box-shadow: $box-shadow;
    .logo {
        float: left;
        padding: $padding-sm 0;
        @media (max-width: 767px) {
            padding: $padding-xs 0;
        }
    }
}