/* --------------------------------------------------------------
   Sections - Common
   -------------------------------------------------------------- */

.section {
    position: relative;

    // Sizes

    &.section-xs {
        padding: $padding-xs 0;
    }
    &.section-sm {
        padding: $padding-sm 0;
    }
    &.section-md {
        padding: $padding-md 0;
    }
    &.section-lg {
        padding: $padding-lg 0;
    }
    &.section-xl {
        padding: $padding-xl 0;
    }

    // Borders

    &.section-border {
        border-top: $border;
        border-bottom: $border;
    }

    &.section-border-top {
        border-top: $border;
    }

    &.section-border-bottom {
        border-bottom: $border;
    }

    // Colours

    &.section-alternate {
        background-color: $color-off-white;
    }

}