/* --------------------------------------------------------------
   Footer
   -------------------------------------------------------------- */

.footer {
    position: relative;
    padding: $padding-lg 0;
    color: $color-dark-grey;
    background-color: $color-off-white;
    .symbol {
        padding: $padding-sm 0;
    }
}
