.nav-mobile {
    background-color: $color-white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: none;
    box-shadow: $box-shadow;
    @media (max-width: 767px) {
        &.active {
            display: block;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: block;
            a {
                display: block;
                padding: $padding-sm;
                color: $color-black;
                border: 0;
                &:hover,
                &:active,
                &:focus {
                    background-color: fade($color-black, 10%);
                }
            }
        }
    }
}
