.nav-primary {
    position: relative;
    float: right;
    z-index: 10;
    @media (max-width: 767px) {
        display: none;
    }
    ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            display: inline-block;
            a {
                color: $color-dark-grey;
                font-size: $font-size;
                font-weight: 400;
                display: inline-block;
                margin: 0 $padding-sm;
                padding: 28px 0px;
                border: 0;
                &:hover,
                &:active,
                &:focus {
                    color: $color-blue;
                }
            }
            &:hover {
                ul {
                    display: block;
                }
            }
            &.current_page_item {
                > a {
                    color: $color-black;
                }
            }
            ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: -10px;
                background-color: $color-white;
                width: 175px;
                border-radius: $border-radius-lg;
                box-shadow: $box-shadow;
                li {
                    display: block;
                    width: 100%;
                    a {
                        display: block;
                        width: 100%;
                        margin: 0;
                        padding: 15px 20px;
                        border-bottom: $border-width solid $color-off-white;
                    }
                    &:last-child {
                        a {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
