.wp-block-button__link {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 100px;
    
    font-size: $font-size-lg;
    line-height: 1.1em;
    font-weight: 700;
    min-height: 50px;
    text-align: center;
    padding: 1.1em 1.44em;
    transition: 0.2s ease border, 0.2s ease background-color, 0.2s ease color;
    outline: 0;
    border: 0;
    &:not(.has-background):not(.has-text-color) {
        color: $color-blue;
        background-color: $color-off-white;
        &:hover,
        &:focus,
        &:active {
            color: $color-blue!important;
            background-color: $color-off-white!important;
        }
    }
    @media (max-width: 991px) {
        font-size: $font-size-md;
        min-height: 40px;
        padding: 1rem 1.5rem;
    }
}

.btn-block {
    display: block;
}

a.wp-block-button__link.has-white-color.has-blue-background-color,
.btn-primary {
    color: $color-white;
    background-color: $color-blue;
    &:visited {
        color: $color-white;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color-white!important;
        background-color: $color-dark-blue!important;
    }
}

a.wp-block-button__link.has-blue-color.has-off-white-background-color,
.btn-secondary {
    color: $color-blue;
    background-color: $color-off-white;
    &:visited {
        color: $color-blue;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color-dark-blue!important;
        background-color: $color-light-grey!important;
    }
}