/* --------------------------------------------------------------
   Wordress
   -------------------------------------------------------------- */

.site-wrapper {
    overflow-x: hidden;
    max-width: 100%;
}

.page-content {
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
        max-width: 730px; // TODO: variable
        margin-left: auto;
        margin-right: auto;
    }
}

.page-content {
    ul, ol {
        margin: 1rem auto;
        li {
            color: $color-dark-grey;
            font-size: $font-size-lg;
            line-height: 1.75em;
            margin-bottom: 1rem;
        }
    }
    > div {
        &:last-child {
            margin-bottom: 3rem!important;
        }
    }
}

p {
    &.has-background {
        border-radius: $border-radius;
    }
}
